<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.w2038.android_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Project">
        <activity android:name=".Korean07"></activity>
        <activity android:name=".Korean6" />
        <activity android:name=".Korean5" />
        <activity android:name=".Korean4" />
        <activity android:name=".Korean3" />
        <activity android:name=".Splash" />
        <activity android:name=".Korean2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBOqaea3VL8HBEGEFInoC1XvKup7m2Sck" />

        <activity android:name=".Korean1" />
        <activity android:name=".Fusion" />
        <activity android:name=".Lunchbox" />
        <activity android:name=".Fastfood" />
        <activity android:name=".Dessert" />
        <activity android:name=".Pizza" />
        <activity android:name=".Chicken" />
        <activity android:name=".Etc" />
        <activity android:name=".Western" />
        <activity android:name=".Chinese" />
        <activity android:name=".Japanese" />
        <activity android:name=".Snack" />
        <activity android:name=".Korean" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>